/* 전체 캘린더 스타일 */
.calendar-wrapper {
  text-align: center;
  padding: 20px;
}

.calendar-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.calendar-container {
  display: inline-block;
}

/* 일정 마커 스타일 */
.event-marker {
  background-color: #00ff00; /* 형광색 */
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin: 0 auto;
}

.selected-events {
  margin-top: 20px;
}

.event-details {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.event-title {
  color: black; /* 제목 색상 조정 */
  margin-right: 10px;
}

.event-link {
  color: blue; /* 링크 색상 조정 */
  text-decoration: underline;
}

.delete-button {
  background: none;
  border: none;
  color: red;
  font-size: 16px;
  cursor: pointer;
  padding: 0;
}
